.card{
    height: 33vw;
    width: 25vw;
    background-color: bisque;
    margin: 10px 10px 0 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #111;
    box-shadow: 4px 4px 4px;
}

.img{
    width: 80%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    padding: 10px;   
}

.title{
    padding: 10px;
    text-align: left;
}

.description{
    padding: 10px;
    text-align: left;
}

.btn{
    cursor: pointer;
}
.btn:hover{
    color: orange;
}
