.search-bar{
    width: 50%;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: white;
}

.input{
    width: 70%;
    height: 20px;
    border-radius: 5px;
    padding-left: 50px;
    margin-right: 10px;
}

.container{
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: rgb(46, 73, 82);
}

.image{
    height: 40px;
    aspect-ratio: 16/9;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid yellowgreen;
}

.newTitle{
    margin-top: 35px;
    color: white;
    margin-left: 10px;
}